*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 1700px) {
    html {
      font-size: 75%; } }

::selection {
  background-color: yellowgreen;
  color: #fff; }

body {
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  line-height: 1.8; }

.container {
  display: grid;
  grid-template-columns: [container-start] 1fr minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) 1fr [container-end];
  grid-template-rows: max-content 85vh repeat(9, min-content); }

li {
  list-style: none; }

a:link,
a:visited {
  text-decoration: none;
  color: var(--color-quinary);
  letter-spacing: 0.2rem;
  font-weight: 300;
  font-size: 1.7rem; }

@keyframes spin {
  0% {
    opacity: 0; }
  50% {
    opacity: 1;
    transform: scale(1.2); }
  100% {
    opacity: 0; } }

.header {
  font-family: "Josefin Sans", sans-serif;
  grid-column: container-start/container-end;
  /*-------------------------------- Hamburger Functionality start------------------------------------*/
  /*-------------------------------- Hamburger Functionality End------------------------------------*/ }
  .header.open .header__menu--line {
    background-color: transparent; }
  .header.open .header__menu--line::before {
    transform: rotate(135deg); }
  .header.open .header__menu--line::after {
    transform: rotate(-135deg); }
  .header.open .header__menu--line::after,
  .header.open .header__menu--line::before {
    top: 0; }
  .header__overlay {
    width: 100%;
    height: 600vh;
    position: fixed;
    background-color: #9415f5;
    opacity: 0;
    display: none;
    z-index: 10; }
  .header__navigation {
    width: 100%;
    height: 7rem;
    line-height: 7rem;
    display: flex;
    justify-content: space-evenly;
    background-color: #101d36;
    color: #fff;
    overflow: hidden; }
    .header__navigation--logo {
      display: flex;
      align-items: center; }
    .header__navigation--img {
      height: 5rem;
      width: 5rem;
      object-fit: cover; }
    .header__navigation--lists {
      display: flex; }
    .header__navigation--list:nth-child(odd) {
      animation: downwards 1s forwards; }
    .header__navigation--list:nth-child(even) {
      animation: upwards 1s forwards; }
    .header__navigation--link:link, .header__navigation--link:visited {
      font-size: 1.8rem;
      font-weight: 400;
      margin-right: 2vw;
      padding: 0 1.5rem;
      display: block;
      position: relative;
      transform-style: preserve-3d;
      transform-origin: bottom;
      transition: transform 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    .header__navigation--link:hover, .header__navigation--link:active {
      transform: rotateX(-90deg); }
    .header__navigation--link:link::after, .header__navigation--link:visited::after {
      content: attr(data-text);
      background-color: #730039;
      position: absolute;
      left: 0;
      top: -100%;
      width: 100%;
      padding: inherit;
      transform: rotateX(90deg);
      transform-origin: bottom; }
    .header__navigation--toggle {
      display: flex;
      align-items: center; }
      .header__navigation--toggle input[type="checkbox"] {
        cursor: pointer;
        position: relative;
        width: 6rem;
        height: 3rem;
        background-color: #fff;
        -webkit-appearance: none;
        -moz-appearance: none;
        border-radius: 2.5rem;
        box-shadow: inset 0 0 0.6rem 0.1rem #9e9d9d;
        transition: all 0.2s ease-in-out; }
      .header__navigation--toggle input:checked[type="checkbox"] {
        background-color: #9415f5; }
      .header__navigation--toggle input:not(:checked)[type="checkbox"] {
        background-color: #730039; }
      .header__navigation--toggle input[type="checkbox"]::after,
      .header__navigation--toggle input[type="checkbox"]::before {
        content: "";
        position: absolute;
        top: 0.8rem;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        background-color: #ffc517;
        transition: all 0.2s ease-in-out; }
      .header__navigation--toggle input[type="checkbox"]::after {
        left: 0.5rem; }
      .header__navigation--toggle input[type="checkbox"]::before {
        right: 0.5rem; }
      .header__navigation--toggle input:checked[type="checkbox"]::after {
        left: 37%; }
      .header__navigation--toggle input:checked[type="checkbox"]::before {
        right: 38%; }
  @media only screen and (max-width: 900px) {
    .header__navigation {
      position: fixed;
      top: 0;
      left: 0;
      width: 25rem;
      height: 105vh;
      flex-direction: column;
      z-index: 20;
      text-align: center;
      line-height: initial;
      transform: perspective(70rem) rotateY(0.5turn);
      transform-origin: top left;
      transition: all 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
      .header__navigation--logo {
        justify-content: center; }
      .header__navigation--lists {
        height: 80%;
        flex-direction: column;
        justify-content: space-evenly; }
      .header__navigation--list {
        animation: initial; }
      .header__navigation--link:link, .header__navigation--link:visited {
        font-size: 1.2rem;
        margin-right: initial;
        padding: 2rem;
        transform-origin: left; }
      .header__navigation--link:hover, .header__navigation--link:active {
        transform: rotateY(-90deg); }
      .header__navigation--link:link::after, .header__navigation--link:visited::after {
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        transform: rotateY(90deg);
        transform-origin: left; }
      .header__navigation--toggle {
        justify-content: center; }
    .header.open .header__navigation {
      transform: rotateY(0); }
    .header__menu {
      cursor: pointer;
      position: fixed;
      top: 2rem;
      right: 4rem;
      width: 5rem;
      padding: 2.5rem;
      height: 5rem;
      border-radius: 50%;
      z-index: 20;
      box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.2);
      background-color: #ffc517; }
      .header__menu--line, .header__menu--line::before, .header__menu--line::after {
        content: "";
        height: 0.3rem;
        width: 3.5rem;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background-color: #423e3e;
        transition: all 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
      .header__menu--line::before {
        top: -2rem; }
      .header__menu--line::after {
        top: 2rem; }
    .header.open .header__overlay {
      opacity: 0.8;
      display: block; } }

@keyframes upwards {
  from {
    transform: translateY(100%);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes downwards {
  from {
    transform: translateY(-100%);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

.showcase {
  grid-column: container-start/container-end;
  background-image: linear-gradient(rgba(115, 0, 57, 0.7), rgba(115, 0, 57, 0.7)), url(../img/hero.jpg);
  display: flex;
  align-items: flex-end; }
  .showcase__content {
    display: flex;
    flex-direction: column; }
  .showcase .heading-3 {
    font-size: 1.6rem;
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 0.05rem;
    font-weight: 600;
    color: #ffc517;
    text-transform: uppercase;
    line-height: 1.5;
    text-shadow: 3px 0px 10px rgba(var(--color-deep), 0.4), -3px 0px 10px rgba(var(--color-light), 0.4);
    animation: moveInTop 1s ease-in-out; }
  .showcase__title {
    font-size: 7rem;
    font-weight: 400;
    font-family: "Josefin Sans", sans-serif;
    line-height: 1.5;
    color: #fff;
    animation: moveInTop 1s ease-in-out; }
  .showcase__paragraph {
    font-size: 2rem;
    font-weight: 400;
    font-family: "Josefin Sans", sans-serif;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    color: #f9f7f6;
    margin-bottom: 5rem;
    animation: moveInBottom 1s ease-in-out 1s backwards; }
  .showcase__links {
    display: flex;
    justify-content: flex-start; }
    .showcase__links--1:link, .showcase__links--1:visited, .showcase__links--2:link, .showcase__links--2:visited {
      position: relative;
      font-size: 1.6rem;
      letter-spacing: 0;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      padding: 1.8rem 3.6rem;
      border-radius: 0.4rem;
      z-index: 1;
      transition: all 0.6s ease-in-out;
      animation: moveInBottom 1s ease-in-out 1s backwards; }
    .showcase__links--1:link:first-child, .showcase__links--1:visited:first-child, .showcase__links--2:link:first-child, .showcase__links--2:visited:first-child {
      background-color: #ffc517;
      color: #000;
      margin-right: 3rem; }
    .showcase__links--1:link:last-child, .showcase__links--1:visited:last-child, .showcase__links--2:link:last-child, .showcase__links--2:visited:last-child {
      background-color: #fff;
      color: #000; }
    .showcase__links--1:link::before, .showcase__links--1:visited::before, .showcase__links--2:link::before, .showcase__links--2:visited::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      background-color: #fff;
      z-index: -1;
      transform: scale(0);
      transition: all 0.6s ease-in-out; }
    .showcase__links--1:link:last-child:before, .showcase__links--1:visited:last-child:before, .showcase__links--2:link:last-child:before, .showcase__links--2:visited:last-child:before {
      background-color: #ffc517; }
    .showcase__links--1:hover::before, .showcase__links--1:active::before, .showcase__links--2:hover::before, .showcase__links--2:active::before {
      transform: scale(1); }
    .showcase__links--1:hover:first-child, .showcase__links--1:active:first-child, .showcase__links--2:hover:first-child, .showcase__links--2:active:first-child {
      color: #000; }
    .showcase__links--1:hover:last-child, .showcase__links--1:active:last-child, .showcase__links--2:hover:last-child, .showcase__links--2:active:last-child {
      color: #000; }
  @media only screen and (max-width: 1100px) {
    .showcase__title {
      font-size: 3.2rem;
      letter-spacing: 1rem; }
    .showcase__paragraph {
      font-size: 2rem; } }
  @media only screen and (max-width: 900px) {
    .showcase {
      padding: 2rem; }
      .showcase__title {
        letter-spacing: 0.2rem; }
      .showcase__paragraph {
        font-size: 1.4rem; }
      .showcase__links--1:link, .showcase__links--1:visited, .showcase__links--2:link, .showcase__links--2:visited {
        padding: 1rem 2rem; } }
  @media only screen and (max-width: 600px) {
    .showcase {
      padding: 4rem; }
      .showcase__title {
        letter-spacing: 0; }
      .showcase__paragraph {
        letter-spacing: 0; }
      .showcase__links {
        justify-content: flex-start; }
        .showcase__links--1:link, .showcase__links--1:visited, .showcase__links--2:link, .showcase__links--2:visited {
          padding: 1rem;
          font-size: 1.4rem;
          display: inline-block;
          text-align: left; } }
  @media only screen and (max-width: 400px) {
    .showcase .heading-3 {
      font-size: 1.3rem;
      letter-spacing: 0; }
    .showcase__title {
      font-size: 2.2rem; }
    .showcase__paragraph {
      font-size: 1.3rem;
      margin-bottom: 2rem; }
    .showcase__links {
      flex-direction: column;
      align-items: flex-start; }
      .showcase__links--1:link, .showcase__links--1:visited, .showcase__links--2:link, .showcase__links--2:visited {
        padding: 0.5rem 1rem;
        font-size: 1.3rem; }
      .showcase__links--1:link, .showcase__links--1:visited {
        margin-bottom: 2rem; } }

@keyframes moveInTop {
  0% {
    transform: translateY(-5rem);
    opacity: 0; }
  70% {
    transform: translateY(2rem);
    opacity: 1; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes moveInBottom {
  0% {
    transform: translateY(2rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.booking-content {
  grid-column: center-start/col-end 5;
  display: grid;
  grid-template-rows: repeat(3, max-content);
  row-gap: 5vh;
  padding: 4vh 6rem 4vh 2rem;
  margin: 5rem 0; }
  .booking-content__title {
    font-size: 4.5rem;
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 0.16rem;
    font-weight: 700;
    color: #333;
    position: relative; }
    .booking-content__title::after {
      content: "";
      display: block;
      position: absolute;
      left: 10%;
      bottom: -0.5rem;
      width: 20rem;
      height: 0.3rem;
      background-color: #ffc517; }
  .booking-content__paragraph {
    font-size: 1.7rem;
    letter-spacing: 0.05rem;
    color: #555; }
  .booking-content__icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    .booking-content__icons--weather, .booking-content__icons--time {
      display: flex;
      gap: 5rem;
      align-items: center; }
      .booking-content__icons--weather .icon-weather,
      .booking-content__icons--weather .icon-time, .booking-content__icons--time .icon-weather,
      .booking-content__icons--time .icon-time {
        fill: #9415f5;
        height: 4rem;
        width: 4rem; }
      .booking-content__icons--weather p, .booking-content__icons--time p {
        font-size: 1.5rem;
        margin-right: auto;
        font-weight: 400; }
  @media only screen and (max-width: 1100px) {
    .booking-content {
      grid-column: container-start/container-end;
      grid-template-rows: min-content;
      padding: 4vh 3vw;
      margin-bottom: 6rem; } }
  @media only screen and (max-width: 900px) {
    .booking-content__title {
      font-size: 3rem; } }
  @media only screen and (max-width: 600px) {
    .booking-content {
      padding: 4rem 4rem;
      margin-bottom: 0; }
      .booking-content__title {
        font-size: 2rem;
        letter-spacing: 0.1rem; }
        .booking-content__title::after {
          left: 8%;
          width: 10rem; }
      .booking-content__paragraph {
        font-size: 1.5rem; } }
  @media only screen and (max-width: 400px) {
    .booking-content {
      padding: 2rem;
      grid-template-rows: min-content; } }

.booking-text {
  grid-column: col-start 6 / center-end;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 4vh;
  padding: 4vh 2vw;
  margin: 5rem 0; }
  .booking-text__schedule {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2vw; }
    .booking-text__schedule--arrival, .booking-text__schedule--departure, .booking-text__schedule--guests {
      text-align: center; }
      .booking-text__schedule--arrival h5, .booking-text__schedule--departure h5, .booking-text__schedule--guests h5 {
        font-size: 1.6rem;
        font-family: "Josefin Sans", sans-serif;
        font-weight: 600;
        margin-bottom: 2rem; }
      .booking-text__schedule--arrival div, .booking-text__schedule--departure div, .booking-text__schedule--guests div {
        background-color: #ffc517;
        padding: 2rem 5rem;
        display: flex;
        flex-direction: column;
        gap: 2vw;
        position: relative; }
        .booking-text__schedule--arrival div::before, .booking-text__schedule--departure div::before, .booking-text__schedule--guests div::before {
          content: "";
          display: block;
          position: absolute;
          left: 50%;
          bottom: 100%;
          border-color: transparent transparent #ffc517;
          border-width: 1.5rem;
          margin-left: -1.5rem;
          border-style: solid; }
        .booking-text__schedule--arrival div p, .booking-text__schedule--departure div p, .booking-text__schedule--guests div p {
          font-size: 2rem;
          font-family: "Josefin Sans", sans-serif; }
        .booking-text__schedule--arrival div p:nth-of-type(2),
        .booking-text__schedule--arrival div p:nth-of-type(3), .booking-text__schedule--departure div p:nth-of-type(2),
        .booking-text__schedule--departure div p:nth-of-type(3), .booking-text__schedule--guests div p:nth-of-type(2),
        .booking-text__schedule--guests div p:nth-of-type(3) {
          font-weight: 700; }
  .booking-text__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.8rem;
    letter-spacing: 0.05rem; }
  @media only screen and (max-width: 1100px) {
    .booking-text {
      grid-column: container-start/container-end;
      grid-template-rows: min-content;
      padding: 4vh 3vw; } }
  @media only screen and (max-width: 900px) {
    .booking-text {
      grid-column: container-start/container-end;
      grid-template-rows: min-content;
      padding: 4vh 3vw; }
      .booking-text__schedule div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center; } }
  @media only screen and (max-width: 600px) {
    .booking-text {
      padding: 4rem 0; }
      .booking-text__schedule {
        grid-template-columns: min-content;
        justify-content: center; }
        .booking-text__schedule div {
          padding: 2rem 6rem;
          flex-direction: column; }
      .booking-text__contact {
        padding: 4rem; } }
  @media only screen and (max-width: 400px) {
    .booking-text {
      padding: 2rem 0; }
      .booking-text__schedule div {
        flex-direction: column;
        padding: 2rem 4rem; }
      .booking-text .btn__link:link,
      .booking-text .btn__link:visited {
        padding: 1.5rem 2rem;
        margin-bottom: 3rem;
        font-size: 1.4rem; } }

.btn__link:link,
.btn__link:visited {
  display: inline-block;
  padding: 1.5rem 2rem;
  border: 0.2rem solid #730039;
  align-self: flex-start;
  color: var(--color-deep);
  margin-bottom: 3rem;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 500;
  position: relative; }

.btn__link:link::after,
.btn__link:visited::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #730039;
  transform: scaleX(0);
  z-index: -1;
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1); }

.btn__link:hover::after,
.btn__link:active::after {
  transform: scaleX(1); }

.btn__link:hover,
.btn__link:active {
  color: #fff; }

.design-content {
  margin: 5rem 0;
  grid-column: container-start/col-end 7;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.design {
  background-color: #101d36;
  color: #fff;
  padding: 1rem; }
  .design__img {
    width: 100%;
    object-fit: cover;
    transform: translateX(5rem); }
  .design__title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 3.7rem;
    line-height: 1.2;
    color: #daa520;
    font-weight: 400;
    margin-bottom: 1rem; }
    .design__title span {
      display: block; }
  .design__paragraph {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.4rem;
    margin-bottom: 2rem; }

.design-gallery {
  background-image: url(../img/design3.jpg);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center; }
  .design-gallery--1 {
    width: 100%;
    grid-row: 2/6;
    grid-column: 2/6; }
  .design-gallery--2 {
    width: 110%;
    grid-row: 3/7;
    grid-column: 4/7;
    z-index: 10; }

@media only screen and (max-width: 1100px) {
  .design__title {
    font-size: 3.3rem; } }

@media only screen and (max-width: 900px) {
  .design-content {
    margin: 0;
    grid-column: container-start / container-end;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    row-gap: 4vh; }
  .design__img {
    transform: translateX(0); } }

@media only screen and (max-width: 700px) {
  .design {
    padding: 2rem; }
    .design__title {
      margin-bottom: 2rem; }
  .design-gallery {
    padding: 6rem; }
    .design-gallery--1 {
      grid-column: 1/6;
      grid-row: 1/-1; }
    .design-gallery--2 {
      grid-column: 4/7;
      grid-row: 1/-1; } }

.design-text {
  margin: 5rem 0;
  background-color: #730039;
  grid-column: col-start 8 / center-end;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center; }

.design__content {
  transform: rotate(0.25turn); }
  .design__content--title {
    font-size: 4.5rem;
    letter-spacing: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff; }

@media only screen and (max-width: 1100px) {
  .design__content--title {
    font-size: 3rem; } }

@media only screen and (max-width: 900px) {
  .design-text {
    margin: 0;
    grid-column: container-start/container-end;
    grid-row: 5/6; }
  .design__content {
    transform: rotate(0);
    padding: 2rem 4rem; } }

.features {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 6rem;
  padding: 0 2rem;
  margin: 10rem 0; }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 1.5rem;
  column-gap: 2.5rem; }
  .feature__icon {
    height: 4.5rem;
    width: 4.5rem;
    fill: #9415f5;
    grid-row: 1 / span 2;
    transform: translateY(-1rem); }
  .feature__paragraph {
    font-size: 1.55rem;
    color: #555;
    font-family: "Josefin Sans", sans-serif; }

.heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.9rem;
  font-weight: 700;
  color: #333;
  letter-spacing: 0.04rem; }

.interior-text {
  margin: 5rem 0;
  background-color: #730039;
  grid-column: center-start/ col-end 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center; }

.interior__content {
  transform: rotate(-0.25turn); }
  .interior__content--title {
    font-size: 4rem;
    letter-spacing: 0.4rem;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center; }

@media only screen and (max-width: 900px) {
  .interior-text {
    grid-column: container-start/ container-end;
    margin: 0;
    row-gap: 4vh; }
  .interior__content {
    transform: rotate(0);
    padding: 2rem 4rem; } }

.interior-content {
  margin: 5rem 0;
  grid-column: col-start 2 / container-end; }

.interior__images {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50rem;
  overflow: hidden; }
  .interior__images img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.image-1:hover,
.image-2:hover {
  filter: contrast(1.7) brightness(80%); }

.image-1:hover .interior__about--1 {
  display: block; }

.image-2:hover .interior__about--2 {
  display: block; }

.image-1 {
  border-right: 0.5rem solid #ffc517; }

.image-1,
.image-2 {
  transition: all 0.6s;
  overflow: hidden; }

.interior__about--1,
.interior__about--2 {
  font-family: "Josefin Sans", sans-serif;
  width: 80%;
  outline: 2rem solid rgba(162, 7, 7, 0.7);
  outline-offset: -2rem;
  position: absolute;
  display: none;
  padding: 2rem;
  color: #fff; }
  .interior__about--1 h2,
  .interior__about--2 h2 {
    background-color: var(--color-primary);
    background-color: rgba(54, 6, 56, 0.802);
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    color: #fff; }
  .interior__about--1 p,
  .interior__about--2 p {
    background-color: rgba(54, 6, 56, 0.802);
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    position: relative;
    color: #fff; }

.interior__about--1 {
  top: 50%;
  left: 0;
  animation: moveInLeft 2s ease-in-out;
  animation-fill-mode: forwards; }

.interior__about--2 {
  bottom: 50%;
  right: 0;
  animation: moveInRight 2s ease-in-out;
  animation-fill-mode: forwards; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-25rem, -15rem); }
  30% {
    transform: translate(5rem, -15rem);
    opacity: 1; }
  60% {
    opacity: 1;
    transform: translate(5rem, -1rem); }
  100% {
    opacity: 1;
    transform: translate(1rem, -1rem); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(25rem, 15rem); }
  50% {
    transform: translate(-5rem, 15rem);
    opacity: 1; }
  80% {
    opacity: 1;
    transform: translate(-5rem, 1rem); }
  100% {
    opacity: 1;
    transform: translate(-1rem, 1rem); } }

@media only screen and (max-width: 1100px) {
  .interior__about--1,
  .interior__about--2 {
    width: 85%; }
    .interior__about--1 p,
    .interior__about--2 p {
      font-size: 1.5rem;
      padding: 2rem; } }

@media only screen and (max-width: 900px) {
  .interior-content {
    grid-column: container-start / container-end;
    margin: 0; }
  .interior__images {
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr)); }
  .image-1 {
    border-right: 0; }
  .interior__about--1,
  .interior__about--2 {
    width: 90%; }
    .interior__about--1 p,
    .interior__about--2 p {
      font-size: 1.4rem;
      padding: 1rem; } }

@media only screen and (max-width: 700px) {
  .interior__about--1 p,
  .interior__about--2 p {
    font-size: 1.6rem;
    padding: 1.5rem; } }

@media only screen and (max-width: 600px) {
  .interior__about--1 {
    display: block;
    top: 5%;
    left: 0;
    animation: none; }
  .interior__about--2 {
    display: block;
    bottom: 5%;
    right: 0;
    animation: none; }
  .interior__about--1,
  .interior__about--2 {
    width: 90%; }
    .interior__about--1 p,
    .interior__about--2 p {
      font-size: 1.3rem; } }

.homes {
  margin: 10rem 0;
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  place-content: center;
  gap: 10rem; }
  .homes .home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem; }
    .homes .home__img {
      width: 100%;
      object-fit: cover;
      grid-column: 1/-1;
      grid-row: 1/2;
      z-index: 2; }
    .homes .home__title {
      grid-column: 1/-1;
      grid-row: 1/2;
      z-index: 4;
      width: 80%;
      font-size: 1.5rem;
      font-weight: 500;
      font-family: "Josefin Sans", sans-serif;
      padding: 0.7rem;
      outline: 0.2rem solid #fff;
      outline-offset: 0.3rem;
      background-color: #101d36;
      color: #fff;
      text-align: center;
      align-self: end;
      justify-self: center;
      transform: translateY(50%); }
    .homes .home__heart {
      grid-column: 2/-1;
      grid-row: 1/2;
      justify-self: end;
      margin: 2rem;
      fill: #ffc517;
      height: 2.5rem;
      width: 2.5rem;
      z-index: 3; }
    .homes .home__location, .homes .home__room {
      margin-top: 2rem; }
    .homes .home__location, .homes .home__room, .homes .home__area, .homes .home__price {
      font-family: "Josefin Sans", sans-serif;
      font-size: 1.4rem;
      display: flex;
      align-items: center; }
      .homes .home__location svg, .homes .home__room svg, .homes .home__area svg, .homes .home__price svg {
        fill: #9415f5;
        height: 2rem;
        width: 2rem;
        margin-right: 2rem; }
    .homes .home__btn {
      grid-column: 1/-1; }

.btn, .btn:link, .btn:visited {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  background-color: #ffc517;
  padding: 1.8rem;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 0.4s ease-in-out; }

.btn:hover {
  color: #f9f7f6; }

.btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #9415f5;
  height: 0;
  width: 100%;
  transition: all 0.4s ease-in-out;
  z-index: -1; }

.btn:nth-child(n)::before {
  transform: translate(-50%, -50%) rotate(45deg); }

.btn:hover::before {
  height: 600%; }

.home-motto {
  min-height: 80vh;
  background-color: #54483a;
  background-image: linear-gradient(to right, rgba(16, 29, 38, 0.7), rgba(16, 29, 38, 0.7)), url(../img/motto.jpg);
  grid-column: container-start/col-end 6;
  padding: 3rem;
  color: #fff; }

.motto {
  display: grid;
  grid-template-rows: 6rem min-content 1fr min-content;
  row-gap: 2rem; }
  .motto__seenon-text {
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
    align-items: center;
    color: #aaa; }
    .motto__seenon-text::before, .motto__seenon-text::after {
      content: "";
      display: block;
      width: 100%;
      height: 0.2rem;
      background-color: #aaa; }
  .motto__btn:link, .motto__btn:visited {
    font-size: 1.5rem;
    text-transform: uppercase;
    height: 6rem;
    position: relative;
    justify-self: start;
    font-weight: 400;
    padding: 0 12rem;
    line-height: 6rem; }
    .motto__btn:link span, .motto__btn:visited span {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 6rem;
      background-color: #730039;
      color: #fff; }
    .motto__btn:link span:nth-child(2), .motto__btn:visited span:nth-child(2) {
      color: purple;
      background-color: #fff;
      transition: all 0.5s;
      clip-path: polygon(61% 0, 100% 0%, 100% 100%, 60% 100%, 44% 48%); }
      .motto__btn:link span:nth-child(2):hover, .motto__btn:visited span:nth-child(2):hover {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 0 56%); }
    .motto__btn:link span:nth-child(1):hover ~ span, .motto__btn:visited span:nth-child(1):hover ~ span {
      clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%, 100% 56%); }
  .motto__seenon-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;
    margin-bottom: 2rem; }
    .motto__seenon-logos img {
      max-width: 100%;
      max-height: 2.5rem;
      object-fit: cover;
      filter: brightness(80%); }

.heading-2 {
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  position: relative;
  display: inline-block; }
  .heading-2::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 25%;
    bottom: -1.5rem;
    width: 20rem;
    height: 0.3rem;
    transform: translate(-50%);
    background-color: #ffc517; }

.paragraph {
  font-family: "Josefin Sans", sans-serif;
  width: 80%;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.1rem; }

@media only screen and (max-width: 1100px) {
  .motto__btn:link, .motto__btn:visited {
    font-size: 1.4rem;
    padding: 0 11rem; }
  .heading-2 {
    font-size: 3.5rem; }
  .paragraph {
    font-size: 1.4rem; } }

@media only screen and (max-width: 900px) {
  .home-motto {
    grid-column: container-start / container-end; } }

@media only screen and (max-width: 700px) {
  .heading-2 {
    font-size: 2.8rem; }
    .heading-2::after {
      left: 38%;
      bottom: -0.5rem;
      transform: translate(-50%); }
  .paragraph {
    font-size: 1.3rem;
    padding: 0;
    width: 100%; }
  .motto__seenon-logos {
    column-gap: 2rem;
    margin-bottom: 1rem; }
    .motto__seenon-logos img {
      max-width: 100%;
      max-height: 2rem;
      object-fit: cover;
      filter: brightness(80%); } }

.home-realtors {
  background-color: #101d36;
  color: #fff;
  grid-column: col-start 7 / container-end;
  display: grid;
  justify-content: center;
  align-content: center;
  row-gap: 2rem; }
  .home-realtors--heading {
    justify-self: center;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffc517; }

.realtors__list {
  font-family: "Josefin Sans", sans-serif;
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 2rem;
  align-items: center;
  margin-bottom: 2rem; }

.realtors__img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  object-fit: cover; }

.realtors__name {
  font-size: 2rem;
  letter-spacing: 0.05rem;
  font-weight: 600; }

.realtors__sold {
  font-weight: 400;
  text-transform: uppercase;
  margin-top: -0.5rem;
  color: #aaa; }

@media only screen and (max-width: 1100px) {
  .realtors__name {
    font-size: 1.8rem; } }

@media only screen and (max-width: 900px) {
  .home-realtors {
    grid-column: container-start / container-end;
    padding: 2rem; }
  .realtors {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem; } }

@media only screen and (max-width: 700px) {
  .realtors {
    grid-template-columns: 1fr; } }

.gallery {
  grid-column: container-start/container-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  gap: 1.5rem;
  padding: 1.5rem;
  margin-top: 15rem; }
  .gallery__list--1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2; }
  .gallery__list--2 {
    grid-column: 3 / span 3;
    grid-row: 1 / span 3; }
  .gallery__list--3 {
    grid-column: 6 / 7;
    grid-row: 1 / span 2; }
  .gallery__list--4 {
    grid-column: 7 / span 2;
    grid-row: 1 / span 2; }
  .gallery__list--5 {
    grid-column: 1 / span 2;
    grid-row: 3 / span 3; }
  .gallery__list--6 {
    grid-column: 3 / span 2;
    grid-row: 4 / span 2; }
  .gallery__list--7 {
    grid-column: 5/6;
    grid-row: 4/5; }
  .gallery__list--8 {
    grid-column: 6 / span 2;
    grid-row: 3 / span 2; }
  .gallery__list--9 {
    grid-column: 8/-1;
    grid-row: 3 / span 3; }
  .gallery__list--10 {
    grid-column: 1 / 2;
    grid-row: 6 / -1; }
  .gallery__list--11 {
    grid-column: 2 / span 2;
    grid-row: 6/-1; }
  .gallery__list--12 {
    grid-column: 4 / 5;
    grid-row: 6 / -1; }
  .gallery__list--13 {
    grid-column: 5 / span 3;
    grid-row: 5 / -1; }
  .gallery__list--14 {
    grid-column: 8 / -1;
    grid-row: 6 / -1; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }

.testimonials {
  margin: 15rem 0;
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  column-gap: 4rem;
  row-gap: 10rem;
  place-content: center; }

.card {
  height: 54rem;
  position: relative;
  perspective: 150rem; }
  .card__side {
    height: 54rem;
    padding: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    backface-visibility: hidden;
    transition: all 1s ease-in-out; }
    .card__side--forepart {
      background-color: orangered;
      background-position: top;
      display: flex;
      justify-content: center;
      align-items: flex-start; }
      .card__side--forepart-1 {
        background-image: url(../img/person-1.jpg); }
      .card__side--forepart-2 {
        background-image: url(../img/person-2.jpg); }
      .card__side--forepart-3 {
        background-image: url(../img/person-3.jpg); }
      .card__side--forepart-4 {
        background-image: url(../img/person-4.jpg); }
      .card__side--forepart-5 {
        background-image: url(../img/person-5.jpg); }
      .card__side--forepart-6 {
        background-image: url(../img/person-6.jpg); }
    .card__side--afterwards {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      transform: rotateY(180deg);
      background-color: #54483a;
      color: #fff; }
      .card__side--afterwards a:link,
      .card__side--afterwards a:visited {
        font-family: "Josefin Sans", sans-serif;
        border-color: #ffc517;
        font-size: 1.5rem;
        color: inherit; }
      .card__side--afterwards-1 {
        background-image: linear-gradient(to right, rgba(16, 29, 38, 0.7), rgba(16, 29, 38, 0.7)), url(../img/testimonials-1.jpg); }
      .card__side--afterwards-2 {
        background-image: linear-gradient(to right, rgba(16, 29, 38, 0.7), rgba(16, 29, 38, 0.7)), url(../img/testimonials-2.jpeg); }
      .card__side--afterwards-3 {
        background-image: linear-gradient(to right, rgba(16, 29, 38, 0.7), rgba(16, 29, 38, 0.7)), url(../img/testimonials-3.jpg); }
      .card__side--afterwards-4 {
        background-image: linear-gradient(to right, rgba(16, 29, 38, 0.7), rgba(16, 29, 38, 0.7)), url(../img/testimonials-4.jpg); }
      .card__side--afterwards-5 {
        background-image: linear-gradient(to right, rgba(16, 29, 38, 0.7), rgba(16, 29, 38, 0.7)), url(../img/testimonials-5.jpg); }
      .card__side--afterwards-6 {
        background-image: linear-gradient(to right, rgba(16, 29, 38, 0.7), rgba(16, 29, 38, 0.7)), url(../img/testimonials-6.jpeg); }
  .card:hover .card__side--forepart {
    transform: rotateY(-180deg); }
  .card:hover .card__side--afterwards {
    transform: rotateY(0); }

.heading-5 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  padding: 1rem;
  background-color: rgba(148, 21, 245, 0.9);
  color: #fff;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%; }

.heading-6 {
  font-family: "Josefin Sans", sans-serif;
  align-self: flex-start;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2rem; }

.heading-secondary {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  font-style: italic;
  line-height: 1.2;
  letter-spacing: 0.1rem; }

.paragraph--2 {
  font-size: 1.3rem;
  font-weight: 400; }

@media only screen and (max-width: 900px) {
  .testimonials {
    row-gap: 20rem;
    margin: 15rem 0; }
  .card {
    height: auto;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
    .card__side {
      position: relative;
      box-shadow: none;
      border-radius: 0; }
      .card__side--forepart {
        justify-content: flex-start;
        height: 50%; }
      .card__side--afterwards {
        height: auto;
        gap: 1rem;
        justify-content: flex-start;
        transform: rotateY(0); }
    .card:hover .card__side--forepart {
      transform: rotateY(0); } }

.footer {
  background-color: #101d26;
  background-color: #730039;
  color: #fff;
  grid-column: container-start/container-end;
  clip-path: polygon(0 35%, 100% 0, 100% 100%, 0 100%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  padding: 4rem; }
  .footer__about {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem; }
    .footer__about--heading {
      align-self: flex-start;
      font-size: 2.5rem;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 400; }
  .footer .copyright {
    font-family: "Josefin Sans", sans-serif;
    align-self: flex-start;
    font-size: 1.4rem; }
  .footer__address {
    display: flex;
    gap: 1.5rem;
    align-items: center; }
    .footer__address span {
      font-size: 1.5rem;
      font-family: "josefin Sans", sans-serif; }
  .footer__mail {
    font-size: 1.4rem;
    letter-spacing: 0.1rem; }
  .footer__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: #9415f5; }
  .footer__social--icon {
    display: inline-block;
    padding: 2rem;
    width: 6rem;
    height: 6rem;
    border-radius: 6rem;
    margin-right: 3rem;
    fill: #9415f5;
    background-color: #ffc517;
    box-shadow: 0.5rem 0.5rem 2rem 0.3rem #ffc517, -0.5rem -0.5rem 2rem 0.3rem #ffc517;
    transform: scale(0.8);
    animation: spin 1s linear infinite; }
  .footer__social--icon:nth-child(1) {
    animation-delay: 0s; }
  .footer__social--icon:nth-child(2) {
    animation-delay: 0.3s; }
  .footer__social--icon:nth-child(3) {
    animation-delay: 0.6s; }
  .footer__social--icon:nth-child(4) {
    animation-delay: 0.6s; }

.paragraph-3 {
  font-size: 1.4rem; }

@media only screen and (max-width: 900px) {
  .footer {
    padding-top: 20rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); } }

.showcase, .design-gallery, .home-motto, .card__side--forepart, .card__side--afterwards {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.showcase {
  padding: 6vh 4vw; }

html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
  transition: all 0.5s !important;
  transition-delay: 0 !important; }
