.design-content {
  margin: 5rem 0;
  grid-column: container-start/col-end 7;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  //**************** Design Content Images *******************//
  &__images {
    background-image: url(../img/design3.jpg);
    @extend %bg;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    &--1 {
      width: 100%;
      grid-row: 2/6;
      grid-column: 2/6;
    }
    &--2 {
      width: 110%;
      grid-row: 3/7;
      grid-column: 4/7;
      z-index: 10;
    }
  }

  //**************** Design Content Information *******************//
  &__information {
    background-color: $color-grey-dark-5;
    color: $color-light;
    padding: 1rem;
    &--img {
      width: 100%;
      object-fit: cover;
      transform: translateX(5rem);
    }
    &--title {
      font-family: "Josefin Sans", sans-serif;
      font-size: 3.7rem;
      line-height: 1.2;
      color: #daa520;
      font-weight: 400;
      margin-bottom: 1rem;
      span {
        display: block;
      }
    }
    &--paragraph {
      font-family: "Josefin Sans", sans-serif;
      font-size: 1.4rem;
      margin-bottom: 2rem;
    }
  }

  //**************** Responsiveness Start *******************//
  // (max-width) 1100px ==> 68.75em
  @include media-tabLand {
    &__information {
      &--title {
        font-size: 3.3rem;
      }
    }
  }
  // (max-width) 900px ==> 56.25em
  @include media-tablet {
    margin: 0;
    grid-column: container-start / container-end;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    row-gap: 4vh;
    &__information {
      &--img {
        transform: translateX(0);
      }
    }
  }
  // (max-width) 700px ==> 43.75em
  @include media-tabport {
    &__information {
      padding: 2rem;
      &--title {
        margin-bottom: 2rem;
      }
    }
    &__images {
      padding: 6rem;
      &--1 {
        grid-column: 1/6;
        grid-row: 1/-1;
      }
      &--2 {
        grid-column: 4/7;
        grid-row: 1/-1;
      }
    }
  }
}
