.features {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 9rem;
  margin: 10rem 0;
}
.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 1.5rem;
  column-gap: 2.5rem;
  &__icon {
    height: 4.5rem;
    width: 4.5rem;
    fill: $color-secondary;
    grid-row: 1 / span 2;
    transform: translateY(-1rem);
  }
  &__paragraph {
    font-size: 1.55rem;
    color: $color-grey-dark-7;
    font-family: "Josefin Sans", sans-serif;
  }
}
