.interior-text {
  margin: 5rem 0;
  background-color: $color-secondary-dark;
  grid-column: center-start/ col-end 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
}
.interior__content {
  transform: rotate(-0.25turn); //-90deg [1turn=360deg]

  &--title {
    font-size: 4rem;
    letter-spacing: 0.4rem;
    color: $color-light;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
  }
}
@include media-tablet {
  .interior-text {
    grid-column: container-start/ container-end;
    margin: 0;
    row-gap: 4vh;
  }
  .interior__content {
    transform: rotate(0);
    padding: 2rem 4rem;
    &--title {
      font-size: 3rem;
    }
  }
}
@include media-smaller {
  .interior-text {
    // margin: 4rem 0;
  }
}
