.home-motto {
  min-height: 80vh;
  background-color: #54483a;
  background-image: linear-gradient(
      to right,
      rgba(16, 29, 38, 0.7),
      rgba(16, 29, 38, 0.7)
    ),
    url(../img/motto.jpg);
  @extend %bg;
  grid-column: container-start/col-end 6;
  padding: 3rem;
  color: $color-light;
}
.motto {
  display: grid;
  grid-template-rows: 6rem min-content 1fr min-content;
  row-gap: 2rem;
  &__seenon-text {
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
    align-items: center;
    color: $color-grey-light-2;
    &::before,
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 0.2rem;
      background-color: $color-grey-light-2;
    }
  }

  &__seenon-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;
    margin-bottom: 2rem;
    img {
      max-width: 100%;
      max-height: 2.5rem;
      object-fit: cover;
      filter: brightness(80%);
    }
  }
}
.heading-2 {
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 25%;
    bottom: -1.5rem;
    width: 20rem;
    height: 0.3rem;
    transform: translate(-50%);
    background-color: $color-primary;
  }
}
.paragraph {
  font-family: "Josefin Sans", sans-serif;
  width: 80%;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  // text-align: center;
  // padding: 1rem 0;
}
@include media-tabLand {
  .motto {
    &__btn:link,
    &__btn:visited {
      font-size: 1.4rem;
      padding: 0 11rem;
    }
  }
  .heading-2 {
    font-size: 3.5rem;
  }
  .paragraph {
    font-size: 1.4rem;
  }
}
@include media-tablet {
  .home-motto {
    grid-column: container-start / container-end;
  }
}
@include media-tabport {
  .heading-2 {
    font-size: 2.8rem;
    &::after {
      left: 38%;
      bottom: -0.5rem;
      transform: translate(-50%);
    }
  }
  .paragraph {
    font-size: 1.3rem;
    padding: 0;
    width: 100%;
  }
  .motto {
    &__seenon-logos {
      column-gap: 2rem;
      margin-bottom: 1rem;
      img {
        max-width: 100%;
        max-height: 2rem;
        object-fit: cover;
        filter: brightness(80%);
      }
    }
  }
}
