// color properties
$color-primary: #ff610b;

// $color-primary: #ffc825;
$color-primary: #ffc517;
// $color-primary: #ff9720;

$color-secondary-dark: #730039;
$color-secondary: #9415f5;

$color-light: #fff;
$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-deep: #000;
$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;
$color-grey-dark-3: #101d26;
$color-grey-dark-4: #192329;
$color-grey-dark-5: #101d36;
$color-grey-dark-6: #333;
$color-grey-dark-7: #555;

// font-weights
$font-weights: (
  "font-weight-light": 300,
  "font-weight-regular": 400,
  "font-weight-medium": 500,
  "font-weight-bold": 700,
);
@function font-weight($font-weight-style) {
  @return map-get($font-weights, $font-weight-style);
}
//font-sizes
$font-sizes: (
  "font-size-small": 1.2rem,
  "font-size-regular": 1.5rem,
  "font-size-medium": 1.7rem,
  "font-size-extra-medium": 2rem,
  "font-size-large": 2.5rem,
  "font-size-larger": 3.5rem,
  "font-size-largest": 6rem,
);
@function font-size($font-size-style) {
  @return map-get($font-sizes, $font-size-style);
}
$break-points: (
  "break-point-small": 400px,
  "break-point-smaller": 600px,
  "break-point-tabport": 700px,
  "break-point-tablet": 900px,
  "break-point-tabLand": 1100px,
  "break-point-desktop": 1700px,
);
@function break-point($break-point-style) {
  @return map-get($break-points, $break-point-style);
}
