html {
  font-size: 62.5%;
  @include media-desktop {
    font-size: 75%;
  }
}
::selection {
  background-color: #5c5c5c;
  color: #fff;
}
body {
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  line-height: 1.8;
}

li {
  list-style: none;
}
a:link,
a:visited {
  text-decoration: none;
  color: var(--color-quinary);
  letter-spacing: 0.2rem;
  font-weight: 400;
}

.container {
  display: grid;
  grid-template-columns:
    [container-start] 1fr minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) 1fr [container-end];
  grid-template-rows: max-content 85vh repeat(9, min-content);
}
