.showcase {
  grid-column: container-start/container-end;
  background-image: linear-gradient(
      rgba($color-secondary-dark, 0.7),
      rgba($color-secondary-dark, 0.7)
    ),
    url(../img/hero.jpg);
  display: flex;
  align-items: flex-end;
  @extend %section-padding;
  @extend %bg;
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-size: 7rem;
    font-weight: 400;
    font-family: "Josefin Sans", sans-serif;
    line-height: 1.5;
    color: $color-light;
    animation: moveInTop 1s ease-in-out;
  }
  &__paragraph {
    font-size: 2rem;
    font-weight: 400;
    font-family: "Josefin Sans", sans-serif;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    color: $color-grey-light-1;
    margin-bottom: 5rem;
    animation: moveInBottom 1s ease-in-out 1s backwards;
  }
  &__links {
    display: flex;
    justify-content: flex-start;
    &--1,
    &--2 {
      &:link,
      &:visited {
        position: relative;
        font-size: 1.6rem;
        letter-spacing: 0;
        font-family: "Josefin Sans", sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        padding: 1.8rem 3.6rem;
        border-radius: 0.4rem;
        z-index: 1;
        transition: all 0.6s ease-in-out;
        animation: moveInBottom 1s ease-in-out 1s backwards;
      }
      &:link:first-child,
      &:visited:first-child {
        background-color: $color-primary;
        color: $color-deep;
        margin-right: 3rem;
      }
      &:link:last-child,
      &:visited:last-child {
        background-color: $color-light;
        color: $color-deep;
      }
      &:link::before,
      &:visited::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        background-color: $color-light;
        z-index: -1;
        transform: scale(0);
        transition: all 0.6s ease-in-out;
      }
      &:link:last-child:before,
      &:visited:last-child:before {
        background-color: $color-primary;
      }

      &:hover::before,
      &:active::before {
        transform: scale(1);
      }
      &:hover:first-child,
      &:active:first-child {
        color: $color-deep;
      }
      &:hover:last-child,
      &:active:last-child {
        color: $color-deep;
      }
    }
  }

  //Responsive with Media Query
  // 1100px
  @include media-tabLand {
    &__title {
      font-size: 3.2rem;
      letter-spacing: 1rem;
    }
    &__paragraph {
      font-size: 2rem;
    }
  }
  //900px
  @include media-tablet {
    padding: 2rem;
    &__title {
      letter-spacing: 0.2rem;
    }
    &__paragraph {
      font-size: 1.4rem;
    }
    &__links {
      &--1,
      &--2 {
        &:link,
        &:visited {
          padding: 1rem 2rem;
        }
      }
    }
  }
  //600px
  @include media-smaller {
    padding: 4rem;
    &__title {
      letter-spacing: 0;
    }
    &__paragraph {
      letter-spacing: 0;
    }
    &__links {
      justify-content: flex-start;
      &--1,
      &--2 {
        &:link,
        &:visited {
          padding: 1rem;
          font-size: 1.4rem;
          display: inline-block;
          text-align: left;
        }
      }
    }
  }
  //400px
  @include media-small {
    &__title {
      font-size: 2.2rem;
    }
    &__paragraph {
      font-size: 1.3rem;
      margin-bottom: 2rem;
    }
    &__links {
      flex-direction: column;
      align-items: flex-start;
      &--1,
      &--2 {
        &:link,
        &:visited {
          padding: 0.5rem 1rem;
          font-size: 1.3rem;
        }
      }
      &--1:link,
      &--1:visited {
        margin-bottom: 2rem;
      }
    }
  }
}
