.showcase {
  grid-column: container-start/container-end;
  background-image: linear-gradient(
      rgba($color-secondary-dark, 0.7),
      rgba($color-secondary-dark, 0.7)
    ),
    url(../img/hero.jpg);
  display: flex;
  align-items: flex-end;
  @extend %section-padding;
  @extend %bg;
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-size: 7rem;
    font-weight: 400;
    font-family: "Josefin Sans", sans-serif;
    line-height: 1.5;
    color: $color-light;
    animation: moveInTop 1s ease-in-out;
  }
  &__paragraph {
    font-size: 2rem;
    font-weight: 400;
    font-family: "Josefin Sans", sans-serif;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    color: $color-grey-light-1;
    margin-bottom: 5rem;
    animation: moveInBottom 1s ease-in-out 1s backwards;
  }
  &__links {
    display: flex;
    justify-content: flex-start;
    &--1,
    &--2 {
      &:link,
      &:visited {
        font-family: "Josefin Sans", sans-serif;
        position: relative;
        font-size: 1.65rem;
        letter-spacing: 0;
        font-weight: 600;
        text-transform: uppercase;
        padding: 1.8rem 3.6rem;
        border-radius: 0.4rem;
        z-index: 1;
        transition: all 0.6s ease-in-out;
        animation: moveInBottom 1s ease-in-out 1s backwards;
        &:first-child,
        &:first-child {
          background-color: $color-primary;
          color: $color-grey-light-1;
          margin-right: 3rem;
        }
        &:last-child,
        &:last-child {
          background-color: $color-light;
          color: $color-primary;
        }
        &::before,
        &::before {
          content: "";
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: inherit;
          background-color: $color-light;
          z-index: -1;
          transform: scale(0);
          transition: all 0.6s ease-in-out;
        }
        &:last-child:before,
        &:last-child:before {
          background-color: $color-primary;
        }
      }

      &:hover::before,
      &:active::before {
        transform: scale(1);
      }
      &:hover:first-child,
      &:active:first-child {
        color: $color-primary;
      }
      &:hover:last-child,
      &:active:last-child {
        color: $color-grey-light-1;
      }
    }
  }

  //**************** Responsiveness Start *******************//
  // (max-width) 1100px ==> 68.75em
  @include media-tabLand {
    &__title {
      font-size: 6.2rem;
      line-height: 1.2;
    }
    &__paragraph {
      letter-spacing: 0.1rem;
    }
    &__links {
      &--1,
      &--2 {
        &:link,
        &:visited {
          padding: 1.6rem 3.4rem;
        }
      }
    }
  }
  // (max-width) 900px ==> 56.25em
  @include media-tablet {
    padding: 2rem;
    &__title {
      font-size: 5.5rem;
    }
    &__paragraph {
      font-size: 1.8rem;
      margin-bottom: 3rem;
    }
    &__links {
      &--1,
      &--2 {
        &:link,
        &:visited {
          padding: 1.4rem 3.2rem;
        }
      }
    }
  }
  // (max-width) 600px ==> 37.5em
  @include media-smaller {
    // padding: 4rem;
    &__title {
      font-size: 4.8rem;
    }
    &__paragraph {
      font-size: 1.6rem;
    }
    &__links {
      justify-content: flex-start;
      &--1,
      &--2 {
        &:link,
        &:visited {
          padding: 1.1rem 2.5rem;
          font-size: 1.4rem;
          display: inline-block;
          text-align: left;
        }
      }
    }
  }
  // (max-width) 400px ==> 25em
  @include media-small {
    &__title {
      font-size: 4.2rem;
    }
    &__paragraph {
      margin-bottom: 2rem;
    }
    &__links {
      flex-direction: column;
      align-items: flex-start;
      &--1,
      &--2 {
        &:link,
        &:visited {
          padding: 1rem 2rem;
        }
      }
      &--1:link,
      &--1:visited {
        margin-bottom: 2rem;
      }
    }
  }
}
