.features {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 6rem;
  padding: 0 2rem;
  margin: 10rem 0;
  // align-items: start;
}
.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 1.5rem;
  column-gap: 2.5rem;
  // box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
  //   rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
  //   rgba(0, 0, 0, 0.09) 0px 32px 16px;
  // background-color: #fff;
  // padding: 2rem;
  &__icon {
    height: 4.5rem;
    width: 4.5rem;
    fill: var(--color-primary);
    grid-row: 1 / span 2;
    transform: translateY(-1rem);
  }
  &__paragraph {
    font-size: 1.6rem;
    // text-align: justify;
  }
}
.heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
}
