.home-motto {
  background-color: #54483a;
  background-image: linear-gradient(
      to right,
      rgba(16, 29, 38, 0.83),
      rgba(16, 29, 38, 0.83)
    ),
    url(../img/house-3.jpeg);
  @extend %bg;
  grid-column: container-start/col-end 6;
  padding: 3rem;
  color: var(--color-quinary);
}
.motto {
  display: grid;
  grid-template-rows: 6rem min-content 1fr min-content;
  row-gap: 2.5rem;
  &__seenon-text {
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
    align-items: center;
    &::before,
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 0.3rem;
      background-color: var(--color-secondary);
    }
  }
  &__btn:link,
  &__btn:visited {
    font-size: 1.5rem;
    text-transform: uppercase;
    height: 6rem;
    position: relative;
    justify-self: start;
    font-weight: 600;
    padding: 0 12rem;
    line-height: 6rem;
    span {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 6rem;
      background-color: purple;
      color: #fff;
    }
    span:nth-child(2) {
      color: purple;
      background-color: #fff;
      transition: all 0.5s;
      clip-path: polygon(61% 0, 100% 0%, 100% 100%, 60% 100%, 46% 48%);
      &:hover {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 0 56%);
      }
    }
    span:nth-child(1):hover ~ span {
      clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%, 100% 56%);
    }
  }
  &__seenon-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;
    margin-bottom: 2rem;
    img {
      max-width: 100%;
      max-height: 2.5rem;
      object-fit: cover;
      filter: brightness(80%);
    }
  }
}
.heading-2 {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 25%;
    bottom: -1.5rem;
    width: 20rem;
    height: 0.3rem;
    transform: translate(-50%);
    background-color: var(--color-primary);
  }
}
.paragraph {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  // text-align: center;
  padding: 1rem 0;
}
@include media-tabLand {
  .motto {
    &__btn:link,
    &__btn:visited {
      font-size: 1.4rem;
      padding: 0 11rem;
    }
  }
  .heading-2 {
    font-size: 3.5rem;
  }
  .paragraph {
    font-size: 1.4rem;
  }
}
@include media-tablet {
  .home-motto {
    grid-column: container-start / container-end;
  }
}
@include media-tabport {
  .heading-2 {
    font-size: 2.8rem;
    &::after {
      left: 38%;
      bottom: -0.5rem;
      transform: translate(-50%);
    }
  }
  .paragraph {
    font-size: 1.3rem;
    padding: 0;
  }
  .motto {
    &__seenon-logos {
      column-gap: 2rem;
      margin-bottom: 1rem;
      img {
        max-width: 100%;
        max-height: 2rem;
        object-fit: cover;
        filter: brightness(80%);
      }
    }
  }
}
